@inherits LayoutComponentBase

<div>
    <MudThemeProvider Theme="Theme" />
    <MudPopoverProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
    <div class="main">
        @Body
    </div>
</div>