::deep .mud-nav-link {
    padding: 6px 12px;
    color: #858585;
}
::deep .mud-expanded .mud-nav-link-text {
    margin-left: 0;
    color: #141414;
}
::deep .mud-nav-group * .mud-navmenu .mud-nav-item .mud-nav-link {
    padding: 6px 12px;
}
