/* /Components/Layout/Filter.razor.rz.scp.css */
[b-31iivarlbj] .mud-popover .mud-list {
    overflow: hidden;
}

.filter-dropdown[b-31iivarlbj] {
    min-width: 350px;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-6sbrkp0hs3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6sbrkp0hs3] {
    flex: 1;
}

.sidebar[b-6sbrkp0hs3] {
   background-color: #f8f7fe;
}

.top-row[b-6sbrkp0hs3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6sbrkp0hs3]  a, .top-row[b-6sbrkp0hs3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-6sbrkp0hs3]  a:hover, .top-row[b-6sbrkp0hs3]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-6sbrkp0hs3]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-6sbrkp0hs3] {
        justify-content: space-between;
    }

        .top-row[b-6sbrkp0hs3]  a, .top-row[b-6sbrkp0hs3]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-6sbrkp0hs3] {
        flex-direction: row;
    }

    .sidebar[b-6sbrkp0hs3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6sbrkp0hs3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-6sbrkp0hs3]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-6sbrkp0hs3], article[b-6sbrkp0hs3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/ModalLayout.razor.rz.scp.css */
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.cashify-gradient[b-oizavkovv7] {
   color: orange;
}
.icon-small-gray[b-oizavkovv7] {
    font-size: 16px;
    color: #888;
}
/* /Components/Pages/Authentication/Login.razor.rz.scp.css */
.login-container[b-i46guso4h4] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding: 0 2rem;
}

/* Content wrapper to contain both sections */
.content-wrapper[b-i46guso4h4] {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
}

/* Right section styles */
.right-section[b-i46guso4h4] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card[b-i46guso4h4] {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

    .card:hover[b-i46guso4h4] {
        transform: translateY(-5px);
    }

.logo-title[b-i46guso4h4] {
    color: #f97316;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.form-title[b-i46guso4h4] {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-description[b-i46guso4h4] {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #777;
}

.input-group[b-i46guso4h4] {
    margin-bottom: 1.5rem;
}

.form-label[b-i46guso4h4] {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.required[b-i46guso4h4]::after {
    content: "*";
    color: red;
}

.input-field[b-i46guso4h4] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

    .input-field:focus[b-i46guso4h4] {
        border-color: #f97316;
    }

.submit-btn[b-i46guso4h4] {
    width: 100%;
    padding: 1rem;
    background-color: #f97316;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover[b-i46guso4h4] {
        background-color: #ea580c;
        cursor: pointer;
    }

.register-link[b-i46guso4h4] {
    margin-top: 1rem;
}

.register-link-text[b-i46guso4h4] {
    color: #f97316;
    font-weight: 600;
    text-decoration: none;
}

    .register-link-text:hover[b-i46guso4h4] {
        color: #ea580c;
    }
/* /Components/Pages/Authentication/Register.razor.rz.scp.css */
.register-container[b-ax70f6mu1t] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding: 0 2rem;
}

.content-wrapper[b-ax70f6mu1t] {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
}

.right-section[b-ax70f6mu1t] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card[b-ax70f6mu1t] {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

    .card:hover[b-ax70f6mu1t] {
        transform: translateY(-5px);
    }

.logo-title[b-ax70f6mu1t] {
    color: #f97316;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.form-title[b-ax70f6mu1t] {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-description[b-ax70f6mu1t] {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #777;
}

.input-group[b-ax70f6mu1t] {
    margin-bottom: 1.5rem;
}

.form-label[b-ax70f6mu1t] {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.required[b-ax70f6mu1t]::after {
    content: "*";
    color: red;
}

.input-field[b-ax70f6mu1t] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

    .input-field:focus[b-ax70f6mu1t] {
        border-color: #f97316;
    }

.submit-btn[b-ax70f6mu1t] {
    width: 100%;
    padding: 1rem;
    background-color: #f97316;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover[b-ax70f6mu1t] {
        background-color: #ea580c;
        cursor: pointer;
    }

.login-link[b-ax70f6mu1t] {
    margin-top: 1rem;
}

.login-link-text[b-ax70f6mu1t] {
    color: #f97316;
    font-weight: 600;
    text-decoration: none;
}

    .login-link-text:hover[b-ax70f6mu1t] {
        color: #ea580c;
    }
/* /Components/Pages/Dashboard/Dashboard.razor.rz.scp.css */
/* Global Styles */
body[b-i976jwwae0] {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard[b-i976jwwae0] {
    display: flex;
    min-height: 100vh;
}

.main-content[b-i976jwwae0] {
    flex-grow: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.header[b-i976jwwae0] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}

.header h2[b-i976jwwae0] {
    font-size: 1.8rem;
    color: #2c3e50;
}

.user-profile[b-i976jwwae0] {
    display: flex;
    align-items: center;
}

.user-profile img[b-i976jwwae0] {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.cards[b-i976jwwae0] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.card[b-i976jwwae0] {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-top:10px;
    margin-right: 10px;
    transition: transform 0.2s;
}

.card:last-child[b-i976jwwae0] {
    margin-right: 0;
}

.card:hover[b-i976jwwae0] {
    transform: scale(1.02);
}

.card h3[b-i976jwwae0] {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p[b-i976jwwae0] {
    font-size: 2rem;
    color: #222226
}
