@page "/register"
@layout EmptyLayout

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="border border-3 border-secondary rounded-2">
                    <div class="card bg-white shadow-lg">
                        <div class="card-body p-5">
                            <form class="mb-1 mt-md-4" @onsubmit="RegisterHandler">
                                <h2 class="fw-bold mb-2">Registration</h2>
                                <p class="mb-4">Please register your account via username and password.</p>
                                <div class="mb-3">
                                    <label class="form-label required">Full Name</label>
                                    <input type="text" class="form-control" @bind="Registration.Name" placeholder="Enter your fullname">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">Username</label>
                                    <input type="text" class="form-control" @bind="Registration.Username" placeholder="Enter your username">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">Currency</label>
                                    <input type="text" class="form-control" @bind="Registration.Currency" placeholder="Enter your currency">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required">Password</label>
                                    <input type="password" class="form-control" @bind="Registration.Password" placeholder="*******">
                                </div>
                                <div class="mt-4 d-grid">
                                    <button class="btn btn-outline-dark" type="submit">Register</button>
                                    <div class="mt-4 d-flex justify-content-center">
                                        <p class="mb-4">Already have an account,</p>
                                        <a href="login">&nbsp; Click here.</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>