@page "/login"
@layout EmptyLayout

<div class="login-container">
    <div class="content-wrapper">
        <div class="right-section">
            <div class="card">
                <h2 class="logo-title">C A S H I F Y</h2>
                <h3 class="form-title">Login</h3>
                <p class="form-description">Please log in to your account.</p>
                <EditForm Model="LoginRequest" OnSubmit="LoginHandler">
                    <DataAnnotationsValidator />
                    <div class="input-group">
                        <label for="username" class="form-label required">Username</label>
                        <MudTextField @bind-Value="LoginRequest.Username"
                                      Label="Username"
                                      Variant="Variant.Outlined"
                                      Placeholder="Enter your username"
                                      Immediate="true" />
                    </div>

                    <div class="input-group">
                        <label for="password" class="form-label required">Password</label>
                        <MudTextField @bind-Value="LoginRequest.Password"
                                      Label="Password"
                                      Variant="Variant.Outlined"
                                      InputType="InputType.Password"
                                      Placeholder="*******"
                                      Immediate="true" />
                    </div>

                    <button type="submit" class="submit-btn">Login</button>

                    <div class="register-link">
                        <p>Don't have an account? <a href="register" class="register-link-text">Register</a></p>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>