@page "/register"
@layout EmptyLayout

<div class="register-container">
    <div class="register-left">
        <div class="register-form-container">
            <h2 class="fw-bold mb-2">Registration</h2>
            <p class="mb-4">Register your account to continue with CashFlo.</p>
            <EditForm Model="@RegistrationRequest" OnValidSubmit="RegistrationHandler">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <InputText id="username" class="form-control" @bind-Value="RegistrationRequest.Username" placeholder="Enter your username" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <InputText type="password" id="password" class="form-control" @bind-Value="RegistrationRequest.Password" placeholder="Enter your password" />
                </div>
                <div class="mb-3">
                    <label for="currency" class="form-label">Currency</label>
                    <InputSelect id="currency" class="form-control" @bind-Value="RegistrationRequest.Currency">
                        <option value="NPR">NPR</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="INR">INR</option>
                    </InputSelect>
                </div>

                <div class="mt-4 d-grid">
                    <button type="submit" class="btn-submit">
                        Sign Up
                    </button>
                </div>
            </EditForm>

            <div class="mt-3 text-center">
                <p>Already have an account? <a href="/login" >Login</a></p>
            </div>
        </div>
    </div>
    <div class="register-right">
        <div class="image-section">
            <img src="login.svg" alt="Background Image"/>
        </div>
    </div>
</div>