@page "/register"
@layout EmptyLayout

<div class="register-container">
    <div class="content-wrapper">
        <!-- Right Section (Registration Form) -->
        <div class="right-section">
            <div class="card">
                <h2 class="logo-title">C A S H I F Y</h2>
                <h3 class="form-title">Register</h3>
                <p class="form-description">Please register to create your account.</p>
                <form @onsubmit="RegisterHandler">
                    <div class="input-group">
                        <label for="username" class="form-label required">Username</label>
                        <input type="text" id="username" class="input-field" @bind="RegistrationRequest.Username" placeholder="Enter your username" />
                    </div>

                    <div class="input-group">
                        <label for="currency" class="form-label required">Currency</label>
                        <select id="currency" class="input-field" @bind="RegistrationRequest.Currency">
                            <option value="" disabled>Select a Currency</option>
                            <option value="AUD">AUD</option>
                            <option value="EUR">EUR</option>
                            <option value="INR">INR</option>
                            <option value="NPR">NPR</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="password" class="form-label required">Password</label>
                        <input type="password" id="password" class="input-field" @bind="RegistrationRequest.Password" placeholder="*******" />
                    </div>

                    <button type="submit" class="submit-btn">Register</button>

                    <div class="login-link">
                        <p>Already have an account? <a href="login" class="login-link-text">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>