.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding: 0 2rem;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: translateY(-5px);
    }

.logo-title {
    color: #f97316;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #777;
}

.input-group {
    margin-bottom: 1.5rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.required::after {
    content: "*";
    color: red;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

    .input-field:focus {
        border-color: #f97316;
    }

.submit-btn {
    width: 100%;
    padding: 1rem;
    background-color: #f97316;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover {
        background-color: #ea580c;
        cursor: pointer;
    }

.login-link {
    margin-top: 1rem;
}

.login-link-text {
    color: #f97316;
    font-weight: 600;
    text-decoration: none;
}

    .login-link-text:hover {
        color: #ea580c;
    }
