@page "/dashboard"

<div class="p-2 font-poppins">
    <div class="row mb-2">
        <TransactionDetails/>
    </div>

    <div class="row mb-5">
        <MudTabs Elevation="0" @bind-ActivePanelIndex="ActivePanelIndex" Class="gap-3">
            <MudTabPanel Text="Pending" BadgeColor="Color.Secondary" BadgeData="@DebtsCount.Pending">
                @if (ActivePanelIndex == 0)
                {
                    <DebtDetails DebtStatus="DebtStatus.Pending" IsEditable="false"/>
                }
            </MudTabPanel>
            <MudTabPanel Text="Overdue" BadgeColor="Color.Secondary" BadgeData="@DebtsCount.PastDue">
                @if (ActivePanelIndex == 1)
                {
                    <DebtDetails DebtStatus="DebtStatus.Overdue" IsEditable="false"/>
                }
            </MudTabPanel>
        </MudTabs>
    </div>
    
    <div class="row mb-5">
        <TransactionCharts />
    </div>
</div>
