@typeparam T

<div class="text-center">
    <ApexChart TItem="T" Height="260" Options="ChartOptions">
        <ApexPointSeries TItem="T"
                         Items="Items"
                         SeriesType="SeriesType.Donut"
                         Name="Data Series"
                         XValue="XValue"
                         YValue="YValue" />
    </ApexChart>
</div>