<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-@Size" role="document">
        <div class="modal-content px-6 py-4">
            <div class="modal-header">
                <MudText Typo="Typo.subtitle2" HtmlTag="h2" Class="fw-bold text-dark">@Module</MudText>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@OnCancel"></button>
            </div>
            <div class="modal-body px-0 py-6">
                @if(!string.IsNullOrEmpty(Title) && !string.IsNullOrEmpty(Description))
                {
                    <MudPaper Elevation="0" Class="mb-6">
                        <MudText Typo="Typo.h6" HtmlTag="h3" Class="fw-bold text-dark mb-1">@Title</MudText>
                        <MudText Typo="Typo.body2" Class="text-normal">@Description</MudText>
                    </MudPaper>
                }
                <div>
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show"></div>